html, body{
    background-color: rgb(48, 42, 42);
}

.read-note{
    border: 15px;
    border-color: black;
    background-color: rgb(102,255,204);
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    position: relative; 
    top: 0;
    left: 0;
    z-index: 300;
    padding: 20px 40px;
  }

.task{
    display: block;
    position: relative;
    margin: 40px auto;
    height: auto;
    width: 500px;
    padding: 20px;
}

  .task  input{
    position: absolute;
    visibility: hidden;
  }

  .task label{
    display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  position: relative;
  width: 50%;
  
}

